# next.js
.next/
/.next/
/out/

# production
/build

/public

# dependencies
/node_modules
/.pnp
.pnp.js
pnpm-lock.yaml
yarn.lock

# testing
/coverage

# misc
.DS_Store
*.pem
*.php

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts